<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url("game_banner_1.jpg") %>');">
  <div class="container-banner">
    <h1 class="title">GameHub</h1>
    <p>Get your game on!</p>
    <div>
      <%= link_to "Rent out your game!", new_game_path, class: "nav-link btn call-action cat-back-pulse" %>
    </div>
  </div>
</div>
<div class="container-card-form">
  <div class="row w-75" >
    <% @games.each do |game| %>
      <div class="col-4 pb-3">
      
        <% if game.photo.attached? %>
        
          <div class="game-card">
            <div class="game-image" style="background-image: linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.4)), url('<%= cl_image_path game.photo.key, height: 165, width: 300 , crop: :crop%>')">
            </div>
            <div class="game-card-info">
              <div class="game-card-title">
                <h3><%= link_to game.title, game_path(game) %></h3>
                <p><%= game.category %></p>
              </div>
              <p class="game-price">£<%= game.daily_price %></p>
            </div>
          </div>
        <%else %>
        <div class="game-card">
            <div class="game-image" style="background-image: linear-gradient(rgba(20,20,20, 0.4), rgba(20,20,20, 0.4)), url('<%= image_path 'no_image.png', height: 165, width: 300 %>')">
            </div>
            <div class="game-card-info">
             <div class="game-card-title">
              <h3><%= link_to game.title, game_path(game) %></h3>
               <p><%= game.category %></p></div>
              <p class="game-price">£<%= game.daily_price %></p>
        </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="cat-container">
    <!-- <h2 class="categories">
      CATEGORIES
    </h2> -->
    <li class="cat-list">
      <ul><%= link_to 'All Categories', root_path, class: "cat-btn cat-back-pulse" %></ul>
      <hr>

      <ul><%= link_to 'Action', root_path(category: 'Action'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'Adventure', root_path(category: 'Adventure'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'Casual', root_path(category: 'Casual'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'MMO', root_path(category: 'MMO'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'Racing', root_path(category: 'Racing'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'RPG', root_path(category: 'RPG'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'Sports', root_path(category: 'Sports'), class: "cat-btn cat-back-pulse" %></ul>
      <hr>
      <ul><%= link_to 'Strategy', root_path(category: 'Strategy'), class: "cat-btn cat-back-pulse" %></ul>
    </li>
  </div>
</div>



