<!-- <div class="container">
  <div class="description">
    <p>Lorem Ipsum</p> -->
<div class="show-container">
    <div class="description">
      <h1>Description</h1>
      <p><%= @game.description %></p>
    </div>
    <div class="show-card">
      <h2><%= @game.title %></h2>
      <p><%= @game.category %></p>
      <p><%= @game.daily_price/100 %> £ per Week</p>
      <% if @game.photo.attached? %>
      <%= cl_image_tag @game.photo.key, height: 200, width: 200, crop: :fill, class: "show-image" %>
      <% else %>
        <%= image_tag 'no_image.png', height: 200, width: 200 %>
      <% end %>
    </div>
    <div class="form-style-8">
      <%= simple_form_for Booking.new do |f| %>
        <%= f.hidden_field :game_id, value: @game.id %>
        <%= f.input :duration, :collection => %w[3 5 7 14] %>
        <%= f.submit "Book game"%>
      <% end %>
    </div>
  </div>
