<div class="show-container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="show-form">
        <h1><%= @game.title %></h1>
          <% if @game.photo.attached? %>
            <%= cl_image_tag @game.photo.key, height: 200, width: 200, crop: :fill, class: "show-image" %>
          <% else %>
            <%= image_tag 'no_image.png', height: 200, width: 200 %>
          <% end %>
        <p><strong><%=@game.category %></strong></p>

        <p><strong>Description:</strong> <%= @game.description %></p>
        <p><%= @game.daily_price %> £ per Week</p>
        <p><%= @game.address %></p>
        <%= simple_form_for Booking.new do |f| %>
        <%= f.hidden_field :game_id, value: @game.id %>
        <strong><%= f.input :duration, :collection => %w[3 5 7 14] %></strong>
        <%= f.submit "Book", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @game.reviews.each do |review| %>
  <%= review.rating %>
<% end %>
